@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #908cb8;
  --foreground: #908cb8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1e40af;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
